.resume {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  word-break: keep-all;
  line-height: 1.8;
}

.profile-img {
  max-height: 280px;
}

.me {
  font-family: "Parisienne", cursive;
  font-size: 1.5em;
}

.blue {
  color: #2db400;
}

h4 > a {
  color: #2db400;
}
h4 > a:hover {
  color: #2db400;
}

.col-auto > a {
  color: #2db400;
}
.col-auto > a:hover {
  color: #2db400;
}

.gray {
  color: gray;
}

.footer-cover {
  background-color: #f5f5f5;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  height: 80px;
}

.footer {
  padding-top: 10px;
}
